[credential]
        helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
        useHttpPath = true
[user]
        name = noracami
        email = kerke.2011@gmail.com
        signingkey = 6F084595B8AC4C9C
[core]
        editor = vi
        excludesfile = /Users/kelonghe/.gitignore_global
        autocrlf = input
[commit]
        gpgsign = true
[init]
        defaultBranch = main
